[Desktop Entry]
Name=Atomic Image Manager
GenericName=System Image Manager
Comment=Modern GUI for managing atomic/ostree system images
Exec=ublue-image-manager
Icon=io.github.ublue.RebaseTool
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=universal-blue;rebase;rollback;rpm-ostree;immutable;atomic;
StartupNotify=true
StartupWMClass=Atomic Image Manager
